ul li{
	display:inline-block;
	padding-right:15px;
	list-style:none;
	color:#000;
}
.header {
	float:right;
	position:absolute;
	right:40px;
	top:0px;
}

.left_align {
	float:left;
	position:absolute;
	left:10px;
	bottom:0px;
}

.right_align{
	float:right;
	position:absolute;
	right:10px;
	bottom:0px;
}
.center{
	text-align:center;
}
.center img{
	height:92px;
	width:272px;
	padding-top:200px;
}
